.logga > img {
  width: 100px;
}

.produkt > img {
  height: 200px;
  border-radius: 10px;
}
.produkt {
  border: 2px solid gray;
  border-radius: 10px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 30px;
  overflow: hidden;
  transition: box-shadow 200ms, border-radius 200ms;
}
.produktText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 10px;
}
.produktlista {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}

.produkt:hover {
  border-radius: 20px;
  box-shadow: -26px 15px 49px 2px rgba(117, 117, 117, 0.75);
}
p {
  display: flex;
  justify-content: center;
}
