main {
  height: 400px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container > img {
  width: 300px;
  border: 5px solid rgb(82, 81, 81);
  border-radius: 4px;
}

.container > h1 {
  width: 300px;
  background-color: #c8e6c9;
  color: black;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(82, 81, 81);
  border-radius: 4px;
}
img {
  width: 100px;
}
